.button {
  display: flex;
  width: 300px;
  height: 40px;
  padding: 14px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #0267ff;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
  cursor: pointer;
}
.button1 {
  width: 172px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.4;
  background: #df9be0;
}
.button2 {
  width: 172px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.4;
  background: #cfc;
}
.button3 {
  width: 172px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.4;
  background: #ffc299;
}
.button4 {
  width: 172px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.2;
  background: #2575d1;
}
